@page "/"

@using grpcCalls
@using SDV701common
<h3>CategorySelection</h3>

@*<Styled @bind-Classname="@catflex">
        background-color: hotpink;
    </Styled>*@
<div class="w-full max-w-xs">
    <div class="flex flex-col bg-gray-200">
        @lst.Count.ToString();
        @foreach (var record in lst)
        {
            <NavLink href="/category" class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">@record.Categoryname</NavLink>

            // <AucBidLine Item="@record" userName="@aucbid.User.Identity.Name" RefreshDB="@Refresh" />
        }

    </div>
</div>

@code {
    @*private string catflex;*@
private List<Category> lst = new List<Category>();

protected override async void OnInitialized()
{
    lst = await gRPCClient.GetListOfCategories();
    this.StateHasChanged();
    Console.WriteLine(lst.Count.ToString());
    //DB.lst = DBExecuter.SQLRequest("select * from items", new ParamList()).Map<AucRecord>();
}
}
